.edgeBrowser {
  --bg0: #e7eaec;
  --bg1: #f7fafc;
  --ipbar: #fefefe;
  --shd: rgba(80, 80, 80, 0.2);
  background: var(--bg0);
}
body[data-theme="dark"] .edgeBrowser {
  --bg0: #222228;
  --ipbar: #222228;
  --bg1: rgb(45, 45, 51);
  --shd: rgba(0, 0, 0, 0.3);

  .edgenavicon {
    filter: invert(1);
  }
}

